/*--------------------------------------------------FUENTES-----------------------------------------------------------*/
@font-face {
  font-family: "ubuntu";
  src: url("Fonts/ubuntu/ubuntu-fr.ttf") format("truetype");
}
@font-face {
  font-family: "georgia";
  src: url("Fonts/georgia/georgiaz.ttf") format("truetype");
}
@font-face {
  font-family: "Monse";
  src: url("Fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SSF";
  src: url("Fonts/ssp/SourceSansPro-Light.otf") format("opentype");
}
/*--------------------------------------------------FIN FUENTES-----------------------------------------------------------*/
body {
  background-color: white;
  font-family: "Monse";
}
.titulo {
  color: rgb(35, 85, 145);
  font-size: 6vw;
  line-height: 30px;
  font-family: "ubuntu";
  margin:2vw auto 2vw 2vw;
}
@media screen and (min-width: 611px) {
  .titulo {
    font-size: 4vw;
    line-height: 5vw;
    margin:1.5vw auto 1.5vw 1.5vw;
  }
}
  
/* Style all input fields */
input {
  width: 100%;
  font-family: "Monse";
}

/*--------------------------------------------------CLASICOS-----------------------------------------------------------*/
.centrarObjeto{
  display: block;
  margin: auto;
}

.transparente{
  color: rgba(0,0,0,0);
}



/*--------------------------------------------------TABLAS-----------------------------------------------------------*/
thead tr:first-child {
    background-color:#00f;
    color:#fff;
    position: absolute;
    top: 0;
    left: 8px;
    right: 25px;
    display: block;
    box-sizing: border-box;
}
thead tr:first-child th {
    display: inline-block;
    color: #fc0;
    margin-right: -2px;
    background: #55f;
    box-sizing: border-box;
}

/*td, th {
    background: #aaa;
    width: 33%;
}*/
tbody tr:first-child td{
  padding-top:10px;
}
table {
    width: 100%;
    margin: 0;
    /*border: 1px #f00 solid;*/
}
/*--------------------------------------------------PAGOS-----------------------------------------------------------*/
.logoPagos{
  display: block; 
  width: 100%;
}

@media screen and (min-width: 768px) {
  .logoPagos {
    width: 120px;
  }
}