/*--------------------------------------------------FUENTES-----------------------------------------------------------*/
@font-face {
    font-family: "ubuntu";
    src: url("../../CSSsJSs/Fonts/ubuntu/ubuntu.ttf") format("truetype");
  }
  @font-face {
    font-family: "georgia";
    src: url("../../CSSsJSs/Fonts/georgia/georgiaz.ttf") format("truetype");
  }
  @font-face {
    font-family: "Monse";
    src: url("../../CSSsJSs/Fonts/montserrat/Montserrat-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "SSF";
    src: url("../../CSSsJSs/Fonts/ssp/SourceSansPro-Light.otf") format("opentype");
  }
  /*--------------------------------------------------FIN FUENTES-----------------------------------------------------------*/
  body {
    background-color: white;
  }
  .titulo {
    color: rgb(35, 85, 145);
    font-size: 6vw;
    line-height: 30px;
    font-family: "ubuntu";
  }
  @media screen and (min-width: 611px) {
    .titulo {
      font-size: 45px;
      line-height: 50px;
    }
  }
    
  /* Style all input fields */
  input {
    width: 100%;
    font-family: "Monse";
  }
  