/*--------------------------------------------------FUENTES-----------------------------------------------------------*/
@font-face {
  font-family: "ubuntu";
  src: url("Fonts/ubuntu/ubuntu.ttf") format("truetype");
}
@font-face {
  font-family: "georgia";
  src: url("Fonts/georgia/georgiaz.ttf") format("truetype");
}
@font-face {
  font-family: "Monse";
  src: url("Fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SSF";
  src: url("Fonts/ssp/SourceSansPro-Light.otf") format("opentype");
}
/*--------------------------------------------------FIN FUENTES-----------------------------------------------------------*/

/*--------------------------------DIALOGOS Inspiracionales-----------------------------------*/
.noPaddingMargin {
  padding-left: 0px !important;
  margin-left: 0px !important;
}
.dialogoInsp {
  font-family: "Monse";
  color: rgb(150, 150, 150);
  font-size: 4.5vw;
  margin: 0px 35vw 0px 0vw;
  font-weight: 600;
  line-height: 5vw;
  padding: 1vh 0vh 30vh 0vh;
  width: 55vw;
}
.dialogoNoInsp {
  display: block;
  margin: 3vh auto;
  text-align: center;
  font-family: "Monse";
  color: rgb(150, 150, 150);
  font-size: 4.5vw;
  font-weight: 600;
  line-height: 5vw;
  padding: 0vh 15vw;
}
.imagenEdu {
  display: block;
  float: right;
  margin: 0px auto 0px 0px;
  background-image: url("images/Recurso 8.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.effortMessage {
  line-height: 3.5vw;
}
@media screen and (min-width: 768px) {
  .dialogoInsp {
    font-size: 4vh;
    margin: 0px 18vw 0px 0vw;
    font-weight: 600;
    line-height: 6vh;
    padding: 2.5vh 0vh 50vh 0vh;
    width: 25vw;
  }
  .dialogoNoInsp {
    font-size: 4vh;
    line-height: 6vh;
  }
  .effortMessage {
    line-height: 20px;
  }
}

/*---------------------------------PREGUNTAS-------------------------------------*/
a,
a:hover,
a:active {
  text-decoration: none;
}
.topMargin {
  margin: 2vw 0px 2vh 0px;
  padding: 0vw 0vw 1vh 0vw;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.progressMargin {
  margin: 1vw 0px 0px 0px;
}

.cruz {
  filter: brightness(150%) grayscale(100%);
  width: 3vw;
}

@media screen and (max-width: 992px) {
  .cruz {
    width: 30px;
  }
}

.formatoPreguntas {
  color: rgb(50, 50, 50);
  font-size: 3vh;
  margin: 1.5vh auto 1.5vh auto;
}

@media screen and (min-width: 768px) {
  .formatoPreguntas {
    font-size: 20px;
  }
}

.imagenPregunta {
  display: block;
  margin: 2.5vh auto 2.5vh auto;
  width: 80%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .imagenPregunta {
    display: block;
    margin: 0px auto 0px auto;
    width: 80%;
    height: auto;
  }
}

/*--------------------------------------BOTONES--------------------------------------*/

button {
  width: 100%;
  /*height: 10vh;*/
  margin: 1vh 0vw 0.5vh 0vw;
  font-size: 3.5vw;
  font-weight: 600;
  border-radius: 10px;
}

button:hover,
button:active {
  margin: 1.5vh 0vw 0.5vh 0vw;
  /*height: 9.5vh;*/
}

@media screen and (min-width: 768px) {
  button {
    margin: 20px 0px 10px 0px;
    font-size: 20px;
    width: 100%;
    /*height: 100px;*/
  }
  button:hover,
  button:active {
    margin: 25px 0px 10px 0px;
    /*height: 95px;*/
  }
}

.OpcionBlanco {
  color: black;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0px -0.5vw 0px gray inset;
  min-height: 10vh;
}
.OpcionBlanco:hover,
.OpcionBlanco:active {
  box-shadow: none;
  min-height: 9.5vh;
}
@media screen and (min-width: 768px) {
  .OpcionBlanco {
    box-shadow: 0px -5px 0px gray inset;
    min-height: 100px;
  }
  .OpcionBlanco:hover,
  .OpcionBlanco:active {
    min-height: 95px;
  }
}

.Opcion1 {
  color: white;
  background-color: rgba(190, 145, 255, 1);
  border: 1px solid rgba(140, 90, 200, 1);
  box-shadow: 0px -0.5vw 0px rgba(140, 90, 200, 1) inset;
  min-height: 10vh;
}
.Opcion1:hover,
.Opcion1:active {
  box-shadow: none;
  min-height: 9.5vh;
}
@media screen and (min-width: 768px) {
  .Opcion1 {
    box-shadow: 0px -5px 0px rgba(140, 90, 200, 1) inset;
    min-height: 100px;
  }
  .Opcion1:hover,
  .Opcion1:active {
    min-height: 95px;
  }
}
.Opcion2 {
  color: white;
  background-color: rgba(70, 160, 230, 1);
  border: 1px solid rgba(20, 110, 210, 1);
  box-shadow: 0px -0.5vw 0px rgba(20, 110, 210, 1) inset;
  min-height: 10vh;
}
.Opcion2:hover,
.Opcion2:active {
  box-shadow: none;
  min-height: 9.5vh;
}
@media screen and (min-width: 768px) {
  .Opcion2 {
    box-shadow: 0px -5px 0px rgba(20, 110, 210, 1) inset;
    min-height: 100px;
  }
  .Opcion2:hover,
  .Opcion2:active {
    min-height: 95px;
  }
}
.Opcion3 {
  color: white;
  background-color: rgba(255, 120, 170, 1);
  border: 1px solid rgba(200, 70, 120, 1);
  box-shadow: 0px -0.5vw 0px rgba(200, 70, 120, 1) inset;
  min-height: 10vh;
}
.Opcion3:hover,
.Opcion3:active {
  box-shadow: none;
  min-height: 9.5vh;
}
@media screen and (min-width: 768px) {
  .Opcion3 {
    box-shadow: 0px -5px 0px rgba(200, 70, 120, 1) inset;
    min-height: 100px;
  }
  .Opcion3:hover,
  .Opcion3:active {
    min-height: 95px;
  }
}
.Opcion4 {
  color: white;
  background-color: rgba(255, 190, 10, 1);
  border: 1px solid rgba(225, 170, 0, 1);
  box-shadow: 0px -0.5vw 0px rgba(225, 170, 0, 1) inset;
  min-height: 10vh;
}
.Opcion4:hover,
.Opcion4:active {
  box-shadow: none;
  min-height: 9.5vh;
}
@media screen and (min-width: 768px) {
  .Opcion4 {
    box-shadow: 0px -5px 0px rgba(225, 170, 0, 1) inset;
    min-height: 100px;
  }
  .Opcion4:hover,
  .Opcion4:active {
    min-height: 95px;
  }
}
.OpcionCorrecta {
  color: black;
  background-color: rgba(120, 210, 80, 0.9);
  border: 1px solid rgba(30, 120, 0, 1);
  box-shadow: 0px -0.5vw 0px rgba(30, 120, 0, 1) inset;
  min-height: 10vh;
}
.OpcionCorrecta:hover,
.OpcionCorrecta:active {
  box-shadow: none;
  min-height: 9.5vh;
}
@media screen and (min-width: 768px) {
  .OpcionCorrecta {
    box-shadow: 0px -5px 0px rgba(30, 120, 0, 1) inset;
    min-height: 100px;
  }
  .OpcionCorrecta:hover,
  .OpcionCorrecta:active {
    min-height: 95px;
  }
}
.OpcionIncorrecta {
  color: black;
  background-color: rgba(255, 50, 90, 0.9);
  border: 1px solid rgba(165, 0, 0, 1);
  box-shadow: 0px -0.5vw 0px rgba(165, 0, 0, 1) inset;
  min-height: 10vh;
}
.OpcionIncorrecta:hover,
.OpcionIncorrecta:active {
  box-shadow: none;
  min-height: 9.5vh;
}
@media screen and (min-width: 768px) {
  .OpcionIncorrecta {
    box-shadow: 0px -5px 0px rgba(165, 0, 0, 1) inset;
    min-height: 100px;
  }
  .OpcionIncorrecta:hover,
  .OpcionIncorrecta:active {
    min-height: 95px;
  }
}

/*-------------------------------INPUTS---------------------*/
input {
  margin: 0px auto;
  background-color: rgb(175, 215, 245);
  border: 0.15vh solid rgb(250, 250, 250);
  /*border-bottom: 1vh solid rgb(38, 222, 255);*/
  border-radius: 0.5vh;
  box-shadow: 0vh 0.5vh rgb(50, 150, 200);
  width: 90%;
  height: 6vh;
}
input:hover,
input:active {
  background-color: rgb(190, 210, 230);
}
@media screen and (min-width: 768px) {
  input {
    margin: 0px 0px 0px 0px;
    border: 0.15vh solid rgb(250, 250, 250);
    /*border-bottom: 1vh solid rgb(38, 222, 255);*/
    border-radius: 0.5vh;
    box-shadow: 0vh 0.5vh rgb(38, 222, 255);
    width: 30%;
    height: 30px;
  }
}

.miniBoton {
  display: block;
  margin: 3vh auto 2vh auto;
  /*5vw 2vw*/
  font-size: 4vw;
  font-weight: 600;
  text-align: center;
  line-height: 4vh;
  width: 40%;
  height: 7vh;
  /*9vw*/
  color: white;
  background-color: rgba(35, 120, 250, 1);
  border: 1px solid rgba(0, 70, 200, 1);
  border-radius: 10px;
  box-shadow: 0px -0.5vw 0px #d6d6d6 inset;
}

.miniBoton:hover,
.miniBoton:active {
  display: block;
  margin: 3.5vh auto 2vh auto;
  /*5vw 2vw*/
  height: 6.5vh;
  /*8.5vw*/
  background-color: rgba(15, 100, 230, 1);
  border: 1px solid rgba(0, 70, 200, 1);
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .miniBoton {
    display: block;
    margin: 40px auto 15px auto;
    font-size: 20px;
    width: 40%;
    height: 60px;
    line-height: 50px;
    box-shadow: 0px -5px 0px #d6d6d6 inset;
  }
  .miniBoton:hover,
  .miniBoton:active {
    display: block;
    margin: 45px auto 15px auto;
    font-size: 20px;
    height: 55px;
  }
}

.OpcionMiniBlanco {
  display: block;
  margin: 3vh auto 2vh auto;
  font-size: 4vw;
  font-weight: 600;
  text-align: center;
  line-height: 4vh;
  width: 40%;
  height: 7vh;
  color: black;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0px -0.5vw 0px gray inset;
}
.OpcionMiniBlanco:hover,
.OpcionMiniBlanco:active {
  box-shadow: none;
  display: block;
  margin: 3.5vh auto 2vh auto;
  height: 6.5vh;
}
@media screen and (min-width: 768px) {
  .OpcionMiniBlanco {
    display: block;
    margin: 40px auto 15px auto;
    font-size: 20px;
    width: 40%;
    height: 60px;
    line-height: 50px;
    box-shadow: 0px -5px 0px #d6d6d6 inset;
  }
  .OpcionMiniBlanco:hover,
  .OpcionMiniBlanco:active {
    display: block;
    margin: 45px auto 15px auto;
    font-size: 20px;
    height: 55px;
  }
}

/*-------------------------------INICIA POP UP---------------------*/
.popUp {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  margin: 2rem 0px 0px 0px;
  background-color: rgb(150, 200, 255);
  /*border-top: 1px solid gray;*/
}
.NoPopUp {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vw;
  margin: 2rem 0px 0px 0px;
}
@media screen and (min-width: 768px) {
  .popUp,
  .NoPopUp {
    height: 90px;
  }
}

#correcto {
  background-color: rgba(120, 210, 80, 0.9);
}
#incorrecto {
  background-color: rgba(255, 50, 90, 0.9);
}
.colorCorrecto {
  color: rgba(30, 120, 0, 1);
}
.colorIncorrecto {
  color: rgba(165, 0, 0, 1);
}
.textoCI {
  font-size: 3.5vw;
  font-weight: 800;
  margin: 1vw auto 0.5vw auto;
}
/*EFECTO CUANDO LA PANTALLA SEA MAYOR A 768PX*/
@media screen and (min-width: 768px) {
  .textoCI {
    font-size: 30px;
    margin: 10px auto 10px auto;
  }
}
.respuestaCorrecta {
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
  margin: 1.5vw auto 0.5vw auto;
}
/*EFECTO CUANDO LA PANTALLA SEA MAYOR A 768PX*/
@media screen and (min-width: 768px) {
  .respuestaCorrecta {
    font-size: 25px;
    margin: 15px auto 10px auto;
  }
}

/*--------------------------BOTONES DE CONTINUAR, VERDE Y ROJO---------------------*/

.correctoVerde {
  background-color: rgba(100, 190, 60, 1);
  border: 1px solid rgba(50, 140, 10, 1);
  box-shadow: 0px -0.5vw 0px rgba(50, 140, 10, 1) inset;
}
.correctoVerde:hover,
.correctoVerde:active {
  box-shadow: none;
}
.incorrectoRojo {
  background-color: rgba(255, 30, 70, 1);
  border: 1px solid rgba(205, 0, 20, 1);
  box-shadow: 0px -0.5vw 0px rgba(205, 0, 20, 1) inset;
}
.incorrectoRojo:hover,
.incorrectoRojo:active {
  box-shadow: none;
}
.botonContinuar {
  color: white;
  background-color: rgba(55, 150, 255, 1);
  border: 1px solid rgba(20, 90, 220, 1);
  display: block;
  width: 80%;
  height: 7vh;
  margin: 1.5vh auto 0.5vh auto;
  font-size: 5vw;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px -0.5vh 0px #d6d6d6 inset;
}
.botonContinuar:hover,
.botonContinuar:active {
  display: block;
  width: 80%;
  height: 6.5vh;
  margin: 2vh auto 0.5vh auto;
  box-shadow: none;
}
/*EFECTO CUANDO LA PANTALLA SEA MAYOR A 768PX*/
@media screen and (min-width: 768px) {
  .botonContinuar {
    display: block;
    margin: 10px auto 6px auto;
    font-size: 25px;
    width: 80%;
    height: 66px;
    box-shadow: 0px -3px 0px #d6d6d6 inset;
  }
  .botonContinuar:hover,
  .botonContinuar:active {
    display: block;
    margin: 16px auto 6px auto;
    font-size: 25px;
    width: 80%;
    height: 60px;
    box-shadow: none;
  }
  .correctoVerde {
    box-shadow: 0px -3px 0px rgba(50, 140, 10, 1) inset;
  }
  .incorrectoRojo {
    box-shadow: 0px -3px 0px rgba(205, 0, 20, 1) inset;
  }
}
/*-------------------------------------------RELOJ----------------------------------*/
#previous,
#later {
  color: rgba(200, 200, 200, 1);
  text-align: center;
  font-size: 1.5vh;
  margin: 0px auto 0px auto;
}
#actual {
  color: rgba(100, 100, 100, 1);
  text-align: center;
  font-size: 2vh;
  margin: 0px auto 0px auto;
}
@media screen and (min-width: 768px) {
  #previous,
  #later {
    font-size: 12px;
  }
  #actual {
    font-size: 15px;
  }
}
/*-------------------------------------------PUNTOS BUENOS Y TOTALES----------------------------------*/
#puntosBuenos {
  text-align: right;
  font-size: 4vh;
  font-family: "ubuntu";
}

#puntosTotales {
  text-align: left;
  font-size: 3vh;
  font-family: "ubuntu";
}
@media screen and (min-width: 768px) {
  #puntosBuenos {
    font-size: 8vh;
  }

  #puntosTotales {
    font-size: 6vh;
  }
}

/*------------------------BOUNCE--------------------------------*/

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
