@font-face {
  font-family: "Open Sans";
  src: url("../CSSsJSs/Fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../CSSsJSs/Fonts/roboto/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Monse";
  src: url("../CSSsJSs/Fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SSP";
  src: url("../CSSsJSs/Fonts/ssp/SourceSansPro-Light.otf") format("opentype");
}

/*--------------------------------------------------FIN FUENTES-----------------------------------------------------------*/

body {
  background-color: white;
}

.iconoPrincipal {
  padding: 10px 0px 10px 0px;
  width: 6vw;
}

@media screen and (min-width: 768px) {
  .iconoPrincipal {
    width: 40px;
  }
}

.top {
  border: 1px solid #d6d6d6;
}

.titulo {
  color: rgb(50, 50, 50);
  background-color: white;
  /*height: 50px;*/
}

.fuenteTitulo {
  color: rgb(50, 50, 50);
  font-family: "Monse";
}

.Ciencia {
  font-size: 6vw;
  text-align: left;
  margin: 10px 0px 10px 0px;
}

@media screen and (min-width: 611px) {
  .Ciencia {
    font-size: 30px;
  }
}

.iconoDiamantes {
  padding: 10px 0px 10px 0px;
  width: 3.5vw;
}

@media screen and (min-width: 768px) {
  .iconoDiamantes {
    width: 20px;
  }
}

.diamantes {
  font-size: 2vw;
  text-align: right;
  margin: 10px 0px 10px 0px;
  color: rgb(15, 15, 168);
  font-family: "Monse";
}

@media screen and (min-width: 611px) {
  .diamantes {
    font-size: 12px;
  }
}

p {
  color: rgb(15, 15, 15);
  font-family: "Monse";
}

.imgRight {
  float: right;
}

.icons {
  width: 8vw;
}

@media screen and (min-width: 768px) {
  .icons {
    width: 4vw;
  }
}

.relleno {
  color: white;
}

/* +++++++++++++++++++++++++++++++++ TOP STYLES ++++++++++++++++++++++++++++++ */

.topNumber{
  font-family: "Monse";
  text-align: right;
  font-weight: 700;
  font-size: 5vh;
  margin: 1vh 0px;
}
.avatarTop{
  margin: 1vh 0px;
  height: 6vh;
  width: auto;
  border-radius: 50%;
}
.ID3st{  
  font-family: "Monse";
  text-align: center;
  margin: 3vh 0px;
  font-size: 4vw;
}
.IDiamonds{
  font-family: "Monse";
  text-align: right;
  margin: 3vh 0px;
  font-size: 2vh;
}
.diamantesTop{  
  margin: 3vh 0px;
  height: 2vh;
  width: auto;
}
.topTypeButton{
  display:block; 
  margin:auto;
  font-size: 2.5vw;
}


@media screen and (min-width: 768px) {
  .topNumber{
    font-family: "Monse";
    text-align: right;
    font-weight: 700;
    font-size: 10vh;
    margin: 2vh 0px;
  }
  .avatarTop{
    margin: 2vh 0px;
    height: 10vh;
    width: auto;
    border-radius: 50%;
  }
  .ID3st{  
    font-family: "Monse";
    text-align: center;
    margin: 2vh 0px;
    font-size: 3vw;
  }
  .IDiamonds{
    font-family: "Monse";
    text-align: right;
    margin: 4.5vh 0px;
    font-size: 5vh;
  }
  .diamantesTop{  
    margin: 4.5vh 0px;
    height: 5vh;
    width: auto;
  }
  .topTypeButton{
    display:block; 
    margin:auto;
    font-size: 1.2vw;
  }
}
