.topMargin{
    margin:2vw 0px 0px 0px;
    border-bottom: 1px solid rgb(240,240,240);
}
.progressMargin{
    margin:1vw 0px 0px 0px;
}
.cruz{
    filter: brightness(200%) grayscale(100%) blur(1px);
    width: 3vw;
}
@media screen and (max-width: 992px) {
    .cruz{
        width: 30px;
    }
}

.formatoPreguntas{
    color:rgb(50,50,50);
    font-size: 4vw;
}

.imagenPregunta{
    display: block;
    margin: auto 0px auto 0px;
    width: 100%;
}