@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
/*--------------------------------------------------FUENTES-----------------------------------------------------------*/
@font-face {
  font-family: "ubuntu";
  src: url("../Fonts/ubuntu/ubuntu.ttf") format("truetype");
}
@font-face {
  font-family: "georgia";
  src: url("../Fonts/georgia/georgiaz.ttf") format("truetype");
}
@font-face {
  font-family: "Monse";
  src: url("../Fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SSF";
  src: url("../Fonts/ssp/SourceSansPro-Light.otf") format("opentype");
}

/*--------------------------------------------------FIN FUENTES-----------------------------------------------------------*/
body {
  background-color: white;
}
.titulo {
  color: #007bff;
  font-size: 6vw;
  line-height: 30px;
  font-family: "ubuntu";
}
@media screen and (min-width: 611px) {
  .titulo {
    font-size: 45px;
    line-height: 50px;
  }
}
a:active,
a:hover {
  text-decoration: none;
  color: #007bff;
}

.seccionesNosotros {
  color: rgb(100, 100, 100);
  font-weight: 600;
  font-size: 3vw;
  line-height: 20px;
  text-align: center;
  font-family: "Varela Round";
}
.seccionesNosotros:hover,
.seccionesNosotros:active {
  color: rgb(85, 135, 195);
}
/*-------------cuando la pantalla es mayor a 768px-----*/
@media screen and (min-width: 768px) {
  .seccionesNosotros {
    font-size: 25px;
    line-height: 30px;
  }
  .seccionesNosotros:hover,
  .seccionesNosotros:active {
    color:rgb(85, 135, 195);
  }
}



/*--------------------------------IMAGENES Y CONTENIDO--------------------*/
.imagesInfo{
  display: block;
  width: 90%;
  margin: 1vw auto 1vw auto;
}
/*-------------cuando la pantalla es menor a 768px-----*/
@media screen and (max-width: 768px) {
  .imagesInfo{
    display: block;
    width: 40%;
    margin:10px auto 10px auto;
  }
}

.autoresInfo{
  display: block;
  width: 30%;
  margin: 1vw auto 1vw auto;
}

.titulosInfo{
  color: rgb(80, 80, 80);
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 20px;
  text-align: left;
  font-family: "Varela Round";
  margin: 1vw 0vw 1vw 0vw;
}
/*-------------cuando la pantalla es mayor a 768px-----*/
@media screen and (min-width: 768px) {
  .titulosInfo{
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0px 20px 0px;
  }
}

.subtitulosInfo{
  color: rgb(80, 80, 80);
  font-weight: 600;
  font-size: 2vw;
  line-height: 20px;
  text-align: left;
  font-family: "Varela Round";
  margin: 1vw 0vw 1vw 0vw;
}
/*-------------cuando la pantalla es mayor a 768px-----*/
@media screen and (min-width: 768px) {
  .subtitulosInfo{
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0px 20px 0px;
  }
}

.textoInfo{
  color: rgb(120, 120, 120);
  font-weight: 600;
  font-size: 2vw;
  line-height: 15px;
  text-align: left;
  font-family: "Varela Round";
  margin: 1vw 0vw 1vw 0vw;
}
/*-------------cuando la pantalla es mayor a 768px-----*/
@media screen and (min-width: 768px) {
  .textoInfo{
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0px 10px 0px;
  }
}



/*-------------------------------INICIA FOOTER---------------------*/
.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6vw;
  background-color: rgb(35, 85, 145);
  text-align: center;
  margin: 2rem 0px 0px 0px;
}
@media screen and (min-width: 768px) {
  .foot {
    height: 40px;
  }
}

.footSubject {
  font-size: 2vw;
  font-weight: 600;
  color: white;
  font-family: "Monse";
  margin: 1vw 0px 0px 0px;
  text-align: center;
}
.footSubject:hover,
.footSubject:active {
  font-size: 2.2vw;
  color: rgb(240, 240, 240);
}
@media screen and (min-width: 768px) {
  .footSubject {
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: "Monse";
    margin: 5px 0px 0px 0px;
    text-align: center;
  }
  .footSubject:hover,
  .footSubject:active {
    font-size: 22px;
    color: rgb(240, 240, 240);
  }
}
