/*Auto Indent Ctrl+Shift+I*/
/*
rgb(225,240,255)
rgb(170,220,230)


*/

/*
@media (min-width: 768px) and (max-width: 991px)
767-768
991-992
1199-1200
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}


*/
/*--------------------------------------------------FUENTES-----------------------------------------------------------*/
/*
@font-face {
    font-family: "CustomFont";
    src: url("CustomFont.eot");
    src: url("CustomFont.woff") format("woff"),
    url("CustomFont.otf") format("opentype"),
    url('webfont.ttf')  format('truetype'), 
    url("CustomFont.svg#filename") format("svg");
    }
*/
@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/roboto/RobotoCondensed-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Monse";
  src: url("../Fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SSP";
  src: url("../Fonts/ssp/SourceSansPro-Light.otf") format("opentype");
}
/*--------------------------------------------------FIN FUENTES-----------------------------------------------------------*/

body {
  background-color: white;
}

.iconoPrincipal {
  padding: 10px 0px 10px 0px;
  width: 6vw;
}
@media screen and (min-width: 768px) {
  .iconoPrincipal {
    width: 40px;
  }
}

.top {
  border: 1px solid #d6d6d6;
}

.titulo {
  color: rgb(50, 50, 50);
  background-color: white;
  /*height: 50px;*/
}

.fuenteTitulo {
  color: rgb(50, 50, 50);
  font-family: "Monse";
}

.Ciencia {
  font-size: 6vw;
  text-align: left;
  margin: 10px 0px 10px 0px;
}
@media screen and (min-width: 611px) {
  .Ciencia {
    font-size: 30px;
  }
}
.Materia {
  font-size: 3vw;
  text-align: right;
  margin: 10px 0px 10px 0px;
}
@media screen and (min-width: 611px) {
  .Materia {
    font-size: 15px;
    margin: 20px 0px 10px 0px;
  }
}

.iconoDiamantes {
  padding: 10px 0px 10px 0px;
  width: 3.5vw;
}
@media screen and (min-width: 768px) {
  .iconoDiamantes {
    width: 20px;
  }
}

.diamantes {
  font-size: 2vw;
  text-align: right;
  margin: 10px 0px 10px 0px;
  color: rgb(15, 15, 168);
  font-family: "Monse";
}
@media screen and (min-width: 611px) {
  .diamantes {
    font-size: 12px;
  }
}

.cita {
  font-size: 2.5vw;
  font-style: italic;
  text-align: center;
}
@media screen and (min-width: 611px) {
  .cita {
    font-size: 15px;
  }
}

p {
  color: rgb(15, 15, 15);
  font-family: "Monse";
}

.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
.imgRight{
  float: right;
}


.icons {
  width: 6vw;
}
/*---------------------------------------------------------TEMAS PRINCIPALES---------------------------------------*/
.temaPrincipal1 {
  color: #333333;
  background-color: #fbfbfb;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  border-left: 6px solid rgb(100, 100, 100);
  padding: 0px 0px 0px 6px;
  box-shadow: 0px 5px 0px #d6d6d6; /*El tamaño de la sombra debe conincidir con el padding*/
}
.temaPrincipal1:hover,
.temaPrincipal1:active {
  color: #000000;
  background-color: #f5f5f5;
  border: 2px solid #a1a1a1; /**/
  border-radius: 10px;
  border-left: 6px solid rgb(50, 50, 50);
  padding: 2px 0px 3px 6px; /*El tamaño de la sombra debe conincidir con el padding*/
  box-shadow: none;
}

.temaPrincipal2 {
  color: #333333;
  background-color: #fbfbfb;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  border-left: 6px solid rgb(100, 100, 255);
  padding: 0px 0px 0px 6px;
  box-shadow: 0px 5px 0px #d6d6d6;
}
.temaPrincipal2:hover,
.temaPrincipal2:active {
  color: #000000;
  background-color: #f5f5f5;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  border-left: 6px solid rgb(50, 50, 205);
  padding: 0px 0px 0px 6px;
  padding: 2px 0px 3px 6px;
  box-shadow: none;
}

.temaPrincipal3 {
  color: #333333;
  background-color: #fbfbfb;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  border-left: 6px solid rgb(255, 100, 100);
  padding: 0px 0px 0px 6px;
  box-shadow: 0px 5px 0px #d6d6d6;
}
.temaPrincipal3:hover,
.temaPrincipal3:active {
  color: #000000;
  background-color: #f5f5f5;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  border-left: 6px solid rgb(205, 20, 20);
  padding: 0px 0px 0px 6px;
  padding: 2px 0px 3px 6px;
  box-shadow: none;
}

.temaPrincipal4 {
  color: #333333;
  background-color: #fbfbfb;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  border-left: 6px solid rgb(255, 255, 100);
  padding: 0px 0px 0px 6px;
  box-shadow: 0px 5px 0px #d6d6d6;
}
.temaPrincipal4:hover,
.temaPrincipal4:active {
  color: #000000;
  background-color: #f5f5f5;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  border-left: 6px solid rgb(195, 195, 0);
  padding: 0px 0px 0px 6px;
  padding: 2px 0px 3px 6px;
  box-shadow: none;
}

.temaPrincipal5 {
  color: #333333;
  background-color: #fbfbfb;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  border-left: 6px solid rgb(100, 255, 100);
  padding: 0px 0px 0px 6px;
  box-shadow: 0px 5px 0px #d6d6d6;
}
.temaPrincipal5:hover,
.temaPrincipal5:active {
  color: #000000;
  background-color: #f5f5f5;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  border-left: 6px solid rgb(0, 195, 0);
  padding: 0px 0px 0px 6px;
  padding: 2px 0px 3px 6px;
  box-shadow: none;
}

.separadorTemasPrincipales {
  font-size: 2em;
}

.tituloTemasPrincipales {
  font-size: 3.5vw;
}
@media screen and (min-width: 768px) {
  .tituloTemasPrincipales {
    font-size: 25px;
  }
}

/*--------------------------------------------------------- FIN TEMAS PRINCIPALES---------------------------------------*/
/*--------------------------------------------------------- INICIA FOOTER ---------------------------------------*/

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 2rem 0px 0px 0px;
  border: 1px solid #d6d6d6;
}
.footIcon {
  filter: opacity(70%) brightness(80%);
  padding: 10px 0px 10px 0px;
  width: 4vw;
}
@media screen and (max-width: 768px) {
  .footIcon {
    width: 40px;
  }
}
.footIcon:hover,
.footIcon:active {
  filter: opacity(70%) brightness(80%);
  padding: 0px 0px 0px 0px;
  width: 5vw;
}
@media screen and (max-width: 768px) {
  .footIcon:hover,
  .footIcon:active {
    width: 50px;
  }
}
/*--------------------------------------------------------- FIN FOOTER ---------------------------------------*/
.relleno {
  color: white;
}
